<style>
			/* tell the SVG path to be a thin blue line without any area fill */
			path {
				stroke: steelblue;
				stroke-width: 1;
				fill: none;
			}
			
			.axis {
			  shape-rendering: crispEdges;
			}

			.x.axis line {
			  stroke: lightgrey;
			}

			.x.axis .minor {
			  stroke-opacity: .5;
			}

			.x.axis path {
			  display: none;
			}

			.y.axis line, .y.axis path {
			  fill: none;
			  stroke: #000;
			}
		</style>

<div class="row">
    This year, you already have run <b><%= (@total_distance.to_f / 1000).round(2).to_s %> km</b>. For this you spent a total of <b><%= @total_time.to_f.round(2).to_s %> min.</b> outside.
</div>
<div class="row">
    Last week, you have run <b><%= (@last_week_distance / 1000).round(2).to_s %> km</b>. For this you spent a total of <b><%= @last_week_time.round(2).to_s %> min.</b> outside.
</div><br/>
<div class="row">
    Your best speed was <b><%= @best_speed[0].velocity_average.round(2).to_s %> km/h</b> on <%= @best_speed[0].datetime.strftime("%d.%m.%y") %>.<br/>
    Your best pace was <b><%= @best_pace[0].pace_average.round(2).to_s %> min/km</b> on <%= @best_pace[0].datetime.strftime("%d.%m.%y") %>.<br/>
    Your longest distance was <b><%= (@best_distance[0].distance.to_f / 1000).round(2).to_s %> km</b> on <%= @best_distance[0].datetime.strftime("%d.%m.%y") %>.<br/>
</div><br/>

<div class="row">
    This shows the different average speeds of your last 10 runs:
    <div id="highchart10"></div>
</div>

<div class="row">
    <div id="highchart_paces"></div>
</div>

<div class="row">
    <div id="highchart_distances"></div>
</div>

<div class="row">
    <div id="highchart_speeds"></div>
</div>
<!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
    <script src="/js/statistics.js"></script>
<script>
    console.log("<%= @last_dates %>");
//drawChart(devideData(<%= @last_distances %>), ".chart_distances");
//drawChart(devideData(<%= @last_speeds %>), ".chart_speeds");
//drawChartLine(devideData(<%= @last_speeds %>), ".chart_speeds_line");
//highchart(<%= @last_speeds10 %>, <%= @last_distances10 %>, <%= @last_paces10 %>, "#highchart10");
highchart("pace", <%= @last_paces %>, "#highchart_paces", "<%= @last_dates %>");
highchart("distance", <%= @last_distances %>, "#highchart_distances", "<%= @last_dates %>");
highchart("speed", <%= @last_speeds %>, "#highchart_speeds", "<%= @last_dates %>");
</script>