<h4>Hey <%= current_user.name %>, your runs:</h4>

<%- Date.today.downto(Date.today - 31.days) do |date| %>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <span style="font-size: small; color: grey"><%= date.strftime("%d.%m.%Y") %></span>
        </div>
        <% @runs.each do |run| %>
             <% if run.datetime.strftime("%d.%m.%Y") == date.strftime("%d.%m.%Y") %>
                <div class="col-md-2">
                    <%= link_to "Run!", controller: "runs", action: "show", id: run.id %><br/>
                    Distance: <%= (run.distance.to_f / 1000).round(2).to_s %> km.<br/>
                    Duration: <%= run.duration.to_f.round(2).to_s %> min.
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="ddd<%= run.datetime.strftime('%d') %>"></div>
                    <% radius = run.distance * 50 / 10000 %>
                    <script>//Make an SVG Container
                    var svgContainer = d3.select(".ddd<%= run.datetime.strftime('%d') %>").append("svg")
                                            .attr("width", 150)
                                            .attr("height", 150);
 
                    //Draw the Circle
                    var circle = svgContainer.append("circle")
                                                .attr("cx", 60)
                                                .attr("cy", 60)
                                                .attr("r", <%= radius %>)
                                                .attr("style", "fill: #E6521E");
                    </script>
                </div>
            <% end %>
        <% end %>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <hr/>
    </div>
<%- end %>